/* --- Novo CSS para o Footer --- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--surface);
    border-top: 2px solid var(--primary);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--text);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--primary);
    border-radius: var(--radius);
    transition: 0.3s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 25px var(--primary);
    transform: translateY(-3px);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg);
}